<%- include("head") %>
<body>    
    <section id="sidebar" class="<%= sidebarClass %>">
        <% if (role === 2) { %>
            <%- include("sidebarmember", { currentPath: currentPath }) %>
        <% } else if (role === 1) { %>
            <%- include("sidebaradmin", { currentPath: currentPath }) %>
        <% } %>
	</section>

    <section id="content">
        <nav class="shadow-sm">
            <%- include("navbar") %>
        </nav>

        <main>
            <%- body %>
        </main>
    </section>
    <script src="script.js"></script>
</body>
</html>