<div class="d-flex justify-content-between">
    <div class="">
        <h4 class="title">สร้างใบแจ้งหนี้</h4>
        <p>สร้าง <span class="text-danger">ใบแจ้งหนี้</span></p>
    </div>
    <div class="">
        <a href="/invoice" class="btn btn-danger btn-lg"><svg xmlns="http://www.w3.org/2000/svg" height="26px"
                viewBox="0 -960 960 960" width="26px" fill="#e8eaed">
                <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
            </svg> ย้อนกลับ</a>
    </div>
</div>

<div class="row">
    <% data.forEach((item) => { %>
        <div class="col-lg-6 col-sm-12 d-flex align-items-stretch">
            <div class="bg-white p-5 mt-3 rounded flex-fill shadowing">
                <div class="text-center">
                    <h4 class="title">ค่าไฟ</h4>
                </div>
                <div class="table">
                    <table class="table table-bordered text-center" id="no-more-tables">
                        <thead class="table-warning align-middle">
                            <tr>
                                <th>มิเตอร์ไฟฟ้าจากวัน</th>
                                <th>มิเตอร์ไฟฟ้าถึงวัน</th>
                                <th>ใช้ไฟฟ้าไป</th>
                                <th>ราคา/หน่วย</th>
                                <th>ราคารวม</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%= item.meter_read_date %></td>
                                <td>xxx</td>
                                <td><%= item.elec_unit %></td>
                                <td><%= item.elec_rate %></td>
                                <td><%= item.elec_unit * item.elec_rate %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12 d-flex align-items-stretch">
            <div class="bg-white p-5 mt-3 rounded flex-fill shadowing">
                <div class="text-center">
                    <h4 class="title">ค่าน้ำ</h4>
                </div>
                <div class="table">
                    <table class="table table-bordered text-center" id="no-more-tables">
                        <thead class="table-info align-middle">
                            <tr>
                                <th>มิเตอร์น้ำจากวัน</th>
                                <th>มิเตอร์น้ำถึงวัน</th>
                                <th>ใช้น้ำไป</th>
                                <th>ราคา/หน่วย</th>
                                <th>ราคารวม</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%= item.meter_read_date %></td>
                                <td>xx</td>
                                <td><%= item.water_unit %></td>
                                <td><%= item.water_rate %></td>
                                <td><%= item.water_unit * item.water_rate %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="bg-white p-4 mt-4 rounded shadowing">
            <div class="d-flex justify-content-center">
                <h4 class="title text-center">ค่าใช้จ่ายเพิ่มเติม</h4>
            </div>
            <hr>
            <table class="table table-bordered text-center">
                <thead class="table-dark">
                    <tr>
                        <th style="width: 60%;">รายการ</th>
                        <th style="width: 35%;">ราคารวม</th>
                    </tr>
                </thead>
                <tbody id="extra">
                    <tr>
                        <td><input type="text" class="form-control" id="inputExtra<%= item.room_id %>" name="inputExtra" placeholder="รายการ"></td>
                        <td><input type="number" class="form-control" placeholder="ราคา" id="numExtra<%= item.room_id %>"></td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-end align-items-center">
                <form action="/insertBill/<%= item.room_id %>" method="POST" class="d-flex">
                    <input type="text" id="amount<%= item.room_id %>" name="total_amount" class="form-control w-auto text-center mx-3"
                        placeholder="ราคารวม"
                        value="<%= (item.elec_unit * item.elec_rate) + (item.water_unit * item.water_rate) %>" readonly>
                    <input type="hidden" name="elec_amount" value="<%= item.elec_unit * item.elec_rate %>">
                    <input type="hidden" name="water_amount" value="<%= item.water_unit * item.water_rate %>">
                    <input type="hidden" name="extraID" id="extraID<%= item.room_id %>">

                    <button type="submit" class="btn btn-success text-nowrap px-2 py-3">ยืนยันการสร้าง</button>
                </form>
            </div>
        </div>
    <% }); %>
</div>

<script>
    <% data.forEach((item) => { %>
        document.querySelector('form[action="/insertBill/<%= item.room_id %>"]').addEventListener('submit', function(event) {
            const inputExtra = document.getElementById('inputExtra<%= item.room_id %>');
            const numExtra = document.getElementById('numExtra<%= item.room_id %>');
            const extraID = document.getElementById('extraID<%= item.room_id %>');

            if (inputExtra.value.trim() === '') {
                inputExtra.value = '0';
            }

            if (numExtra.value.trim() === '') {
                numExtra.value = '0';
            }
            extraID.value = inputExtra.value;
            const elecAmount = parseFloat(document.querySelector('[name="elec_amount"]').value);
            const waterAmount = parseFloat(document.querySelector('[name="water_amount"]').value);
            const extraAmount = parseFloat(numExtra.value);

            const totalAmount = elecAmount + waterAmount + extraAmount;

            document.getElementById('amount<%= item.room_id %>').value = totalAmount;
        });

        document.getElementById('numExtra<%= item.room_id %>').addEventListener('input', function() {
            const numExtraValue = parseFloat(document.getElementById('numExtra<%= item.room_id %>').value) || 0;
            const elecAmount = parseFloat(document.querySelector('[name="elec_amount"]').value);
            const waterAmount = parseFloat(document.querySelector('[name="water_amount"]').value);

            const totalAmount = elecAmount + waterAmount + numExtraValue;
            document.getElementById('amount<%= item.room_id %>').value = totalAmount;
        });
    <% }); %>
</script>
