<div class="bg-white p-4 mt-3 rounded shadowing">
    <h5 class="title">จองห้องพัก</h5>
    <hr>
    <form id="adduser-form" action="/bookroom-submit" method="post">
        <div class="row">
            <div class="col-6">
                <label for="selectroom" class="form-label fw-bold">เลือกห้อง</label>
                <select name="selectroom" id="selectroom" class="form-control" required>
                    <option value=""></option>
                    <% data.forEach((item)=>{ %>
                        <option value="<%=item.id%>"><%=item.id%></option>
                    <% }); %>
                </select>
            </div>
            <div class="col-6">
                <label for="selectuser" class="form-label fw-bold">เลือกผู้เช่า</label>
                <select name="selectuser" id="selectuser" class="form-control" required>
                    <option value=""></option>
                    <% user.forEach((item)=>{ %>
                        <option value="<%=item.id%>"><%=item.fullname%></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <label for="movein" class="form-label fw-bold">วันที่ย้ายเข้า</label>
                <input type="date" class="form-control" id="movein" name="movein" required>
            </div>
            <div class="col-6">
                <label for="checkout" class="form-label fw-bold">วันที่ย้ายออก</label>
                <input type="date" class="form-control" id="checkout" name="checkout">
            </div>
        </div>
        <!-- <div class="row mt-2">
            <div class="col-6">
                <label for="invoice" class="form-label fw-bold">วันออกใบแจ้งหนี้</label>
                <input type="date" class="form-control" id="invoice" name="invoice" required>
            </div>
            <div class="col-6">
                <label for="duepayment" class="form-label fw-bold">วันกำหนดชำระ</label>
                <input type="date" class="form-control" id="duepayment" name="duepayment" required>
            </div>
        </div> -->
        <div class="row mt-4">
            <div class="col-12">
                <button type="submit" class="btn btn-success form-control py-3" id="bookroom-submit">ยืนยันการจอง</button>
            </div>
        </div>
    </form>
</div>

<div class="bg-white p-4 mt-4 rounded shadowing">
    <h5 class="title">รายการห้องที่ว่าง</h5>
    <hr>
    <table class="table py-2 book-room-table" id="no-more-tables">
        <thead>
            <tr>
                <th>#</th>
                <th>ห้องพัก</th>
                <th>ราคา</th>
                <th>รายละเอียด</th>
                <th>สถานะ</th>
            </tr>
        </thead>
        <tbody>
            <% index = 1; %>
            <% data.forEach((item)=>{ %>
                <tr>
                    <td data-title="#"><%=index++%></td>
                    <td data-title="ห้องพัก"><%=item.id%></td>
                    <td data-title="ราคา"><%=item.rent%></td>
                    <td data-title="รายละเอียด"><%=item.description%></td>
                    <td data-title="สถานะ"><%=item.status === 0 ? 'ว่าง' : 'ไม่ว่าง'%></td>
                </tr>

            </tbody>
            <% }); %>
    </table>
</div>