<div class="d-flex justify-content-between align-items-center">
    <div class="">
        <h4 class="title">ผู้ใช้งาน & ผู้เช่า</h4>
        <p>จัดการ <span class="text-danger">ผู้ใช้งาน & ผู้เช่า</span></p>
    </div>
</div>

<div class="bg-white p-3 mt-3 rounded">
    <h5 class="title">แก้ไข - ผู้ใช้งาน & ผู้เช่า</h5>
    <hr>
    <% data.forEach((item)=>{ %>
    <form id="edituser-form" action="/edituser-submit/<%=item.id%>" method="post">
        <div class="row">
            <div class="col-lg-6 col-sm-12 mb-2">
                <label for="fname" class="form-label fw-bold">ชื่อจริง</label>
                <input type="text" class="form-control" id="fname" name="fname" value="<%=item.fname %>" required>
            </div>
            <div class="col-lg-6 col-sm-12 mb-2">
                <label for="lname" class="form-label fw-bold">นามสกุล</label>
                <input type="text" class="form-control" id="lname" name="lname" value="<%=item.lname %>" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12 mb-2">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 mb-2">
                        <label for="gender" class="form-label fw-bold">เพศ</label>
                        <select name="gender" id="gender" class="form-control" required>
                            <option value=""></option>
                            <option value="M" <%=item.sex === 'M' ? 'selected' : ''%>>ชาย</option>
                            <option value="F" <%=item.sex === 'F' ? 'selected' : ''%>>หญิง</option>
                            <option value="O" <%=item.sex === 'O' ? 'selected' : ''%>>อื่นๆ</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <label for="idcard" class="form-label fw-bold">หมายเลขบัตรประชาชน</label>
                        <input type="text" class="form-control" id="idcard" name="idcard" value="<%=item.id_card %>" required>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 mb-2">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 mb-2">
                        <label for="phone" class="form-label fw-bold">เบอร์โทรศัพท์</label>
                        <input type="text" class="form-control" id="phone" name="phone" value="<%=item.phone %>" required>
                    </div>
                    <div class="col-lg-6 col-sm-12 mb-4">
                        <label for="password" class="form-label fw-bold">รหัสผ่าน</label>
                        <input type="password" class="form-control" id="password" name="password" value="<%=item.password %>" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-warning btn-lg form-control py-3" id="edituser-submit">แก้ไขผู้ใช้งาน</button>
            </div>
            <div class="col-6">
                <a href="/manageuser" class="btn btn-danger btn-lg form-control py-3" id="edituser-cancel">ยกเลิก</a>
            </div>
        </div>
    </form>
    <% }); %>
</div>

<!-- <script src="adduser.js"></script> -->