<div class="d-flex justify-content-between align-items-center">
    <div class="">
        <h4 class="title">รายการแจ้งหนี้ & ใบเสร็จ</h4>
        <p>จัดการ <span class="text-danger">ใบแจ้งหนี้ & ใบเสร็จ</span></p>
    </div>
    <div class="">
        <a href="/showreceipt" class="btn btn-primary text-light btn-lg form-button"> ใบเสร็จรับเงิน</a>
        <a href="/showinvoice" class="btn btn-primary text-light btn-lg form-button"> ใบแจ้งหนี้</a>
    </div>
</div>

<div class="bg-white p-3 mt-3 rounded shadowing">
    <table class="table py-2 invoice-table" id="no-more-tables">
        <thead class="align-middle">
            <tr>
                <th>ห้อง</th>
                <th>ชื่อผู้เช่า</th>
                <th>วันที่เข้าพัก</th>
                <th>ยอดชำระ</th>
                <th>สถานะ</th>
                <th class="text-center">ดำเนินการ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% data.forEach((item) => { %>
                    <tr>
                        <td data-title="ห้อง"><%= item.room_id %></td>
                        <td data-title="ชื่อผู้เช่า"><%= item.fname %> <%= item.lname %></td>
                        <td data-title="วันที่เข้าพัก"><%= item.start_date %></td>
                        <td data-title="ยอดชำระ"><%= item.rent %></td>
                        <td data-title="สถานะ">
                            <%= item.bill_status === 2 ? 'ชำระแล้ว' : 'ยังไม่ชำระ' %>
                            <!-- <%= typeof item.bill_status %> : <%= item.bill_status %> -->
                          </td>
                          
                        <td data-title="ดำเนินการ" class="text-center">
                            <div class="btn-table">
                                <a href="/addinvoice?id=<%= item.room_id %>" class="btn btn-secondary btn-sm px-lg-4 px-md-3 mx-1">
                                    สร้างใบแจ้งหนี้
                                </a>
                                <a href="/addreceipt?id=<%= item.room_id %>" class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">
                                    สร้างใบเสร็จรับเงิน
                                </a>
                                <!-- <% if (item.bill_status === '1') { %>
                                    <a href="/addreceipt?id=<%= item.room_id %>" class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">
                                        สร้างใบเสร็จรับเงิน
                                    </a>
                                <% } else if (item.bill_status === '2') { %>
                                    <a href="/home" class="btn btn-dark btn-sm px-lg-4 px-md-3 mx-1">
                                        ชำระแล้ว
                                    </a>
                                <% } else { %>
                                    <a href="/addinvoice?id=<%= item.room_id %>" class="btn btn-secondary btn-sm px-lg-4 px-md-3 mx-1">
                                        สร้างใบแจ้งหนี้
                                    </a>
                                    <a href="/addreceipt?id=<%= item.room_id %>" class="btn btn-success btn-sm px-lg-4 px-md-3 mx-1">
                                        สร้างใบเสร็จรับเงิน
                                    </a>
                                <% } %> -->
                            </div>
                        </td>
                    </tr>
                <% }); %>
                
            </tr>
        </tbody>
    </table>
</div>