<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<div class="d-flex justify-content-between align-items-center">
    <div class="">
        <h4 class="title">ห้องพัก</h4>
        <p>จัดการ <span class="text-danger">ห้องพัก</span></p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-sm-12 d-flex justify-content-center align-items-center"> 
        <div class="bg-white p-3 mt-3 rounded flex-fill shadowing">
            <h5 class="title">จำนวนห้องว่าง</h5>
            <hr>
            <div class="d-flex justify-content-center align-items-center" style="width: 17rem; height: 17rem; justify-self: center;">
                <canvas id="roomChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 d-flex align-items-stretch">
        <div class="bg-white p-3 mt-3 rounded flex-fill shadowing">
            <h5 class="title">เพิ่ม - ห้องพัก</h5>
            <hr>
            <form action="/addroom" method="post">
                <div class="row">
                    <div class="col-6">
                        <label for="noroom" class="form-label fw-bold">เลขที่ห้องพัก</label>
                        <input type="text" class="form-control" id="noroom" name="noroom" required>
                    </div>
                    <div class="col-6">
                        <label for="roomprice" class="form-label fw-bold">ค่าเช่า / เดือน</label>
                        <input type="number" class="form-control" id="roomprice" name="roomprice" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label for="roominfo" class="form-label fw-bold">รายละเอียดเพิ่มเติม</label>
                        <input type="text" class="form-control" id="roominfo" name="roominfo">
                    </div>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary form-control form-button py-3">เพิ่มห้องพัก</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="bg-white p-3 mt-4 rounded shadowing">
    <table class="table py-2 manage-room-table" id="no-more-tables">
        <thead class="align-middle">
            <tr>
                <th>#</th>
                <th>ห้องพัก</th>
                <th>ราคา</th>
                <th>รายละเอียด</th>
                <th>สถานะ</th>
                <th class="text-center">จัดการ</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            <% let index = 1; %>
            <% let available = 0; %>
            <% let notAva = 0; %>
            <% data.forEach((item)=>{ %>
                <tr>
                    <td data-title="#"><%= index++ %></td>
                    <td data-title="ห้องพัก"><%=item.id %></td>
                    <td data-title="ราคา"><%=item.rent %></td>
                    <td data-title="รายละเอียด"><%=item.description %></td>
                    <td data-title="สถานะ"><% if (item.status === 0) { %>
                        <%= 'ว่าง' %>
                        <% available++; %>
                    <% } else { %>
                        <%= 'ไม่ว่าง' %>
                        <% notAva++; %>
                    <% } %></td>
                    <td data-title="จัดการ" class="text-center">
                        <div class="btn-table">
                            <a href="/editroom?id=<%=item.id%>" class="btn btn-warning btn-sm px-lg-4 px-md-3 mx-1">แก้ไข</a>
                            <form id="removeRoom" action="/manageroom/delete/<%=item.id %>" method="post" onsubmit="return confirmDelete('removeRoom')">
                                <button type="submit" class="btn btn-danger btn-sm px-lg-4 px-md-3 mx-1">ลบ</button>
                            </form>
                        </div>
                    </td>
                </tr>
            <% }); %> 
        </tbody>
    </table>
</div>

<script>
    //ส่งค่าจาก EJS ไปที่ JavaScript
    const available = <%= available %>;
    const notAva = <%= notAva %>;

    // กำหนดข้อมูลกราฟ
    const roomChartData = {
        type: 'pie',
        labels: ['ห้องว่าง', 'ห้องไม่ว่าง'],
        dataValues: [available, notAva],
        backgroundColors: ['rgba(255, 255, 255, 1)', 'rgba(63, 114, 175, 0.8)'],
        borderColors: ['rgba(214, 219, 224, 1)', 'rgba(44, 89, 138, 1)'],
        label: 'จำนวนห้อง',
        tooltipsCallback: (tooltipItem) => `${tooltipItem.label}: ${tooltipItem.raw} ห้อง`
    };

    // ฟังก์ชั่นสร้างกราฟ
    function createChart(chartId, chartData) {
        const data = {
            labels: chartData.labels,
            datasets: [{
                label: chartData.label,
                data: chartData.dataValues,
                backgroundColor: chartData.backgroundColors,
                borderColor: chartData.borderColors,
                borderWidth: 2
            }]
        };
    
        const ctx = document.getElementById(chartId).getContext('2d');
        new Chart(ctx, {
            type: chartData.type,
            data: data,
            options: {
                responsive: true,
                maintainAspectRatio: true,
                plugins: {
                    legend: {
                        display: true,
                        position: 'bottom',
                        labels: {
                            font: {
                                size: 14,
                                weight: 'bold',
                            },
                        },
                    },
                    datalabels: {
                        color: '#000',
                        font: {
                            weight: 'bold',
                            size: 14
                        },
                        align: 'center',
                        formatter: (value) => `${value}`,
                    }
                },
                tooltips: {
                    enabled: true,
                    callbacks: {
                        label: chartData.tooltipsCallback,
                    }
                },
                animation: {
                    duration: 1000,
                    easing: 'easeOutBounce',
                }
            },
            plugins: [ChartDataLabels]
        });
    }

    // สร้างกราฟเมื่อโหลดหน้าเว็บ
    createChart('roomChart', roomChartData);
</script>
