<div class="d-flex justify-content-between align-items-center">
    <div class="">
        <% if (data3.length > 0 && data3[0].room_id) { %>
            <h4 class="title">แจ้งเตือนพัสดุ - ของห้อง <span class="fw-bold"><%= data3[0].room_id %></span></h4>
        <% } else { %>
            <h4 class="title">แจ้งเตือนพัสดุ - ไม่มีห้องพัก</h4>
        <% } %>
        <p>ข้อมูล <span class="text-danger">แจ้งเตือนพัสดุ</span></p>
    </div>
</div>

<div class="bg-white p-3 mt-3 rounded shadowing">
    <h5 class="title">พัสดุที่กำลังรอรับ</h5>
    <hr>
    <table class="table py-2 wait-parcel-table" id="no-more-tables">
        <thead class="align-middle">
            <tr>
                <th>ห้องพัก</th>
                <th>ชื่อผู้รับ</th>
                <th>ขนาดพัสดุ</th>
                <th>วันที่พัสดุถึง</th>
                <th class="text-center">ยืนยันการรับพัสดุ</th>
            </tr>
        </thead>
        <tbody>
            <% data1.forEach((item)=>{ %>
                <tr>
                    <td data-title="#"><%=item.room_id%></td>
                    <td data-title="ชื่อผู้รับ"><%=item.receiver_name%></td>
                    <td data-title="ขนาดพัสดุ">
                        <% if (item.size === 'S') { %>
                            ขนาดเล็ก
                        <% } else if (item.size === 'M') { %>
                            ขนาดกลาง
                        <% } else { %>
                            ขนาดใหญ่
                        <% } %>
                    </td>
                    <td data-title="วันที่พัสดุถึง"><%=item.arrival_date%></td>
                    <td data-title="ยืนยันการรับพัสดุ" class="text-center">
                        <form action="/accept-parcel/<%=item.id%>" method="post">
                            <button type="submit" class="btn btn-success ">ยืนยันการรับ</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<div class="bg-white p-3 mt-4 rounded shadowing">
    <h5 class="title">ประวัติการรับพัสดุ</h5>
    <hr>
    <table class="table py-2 text-center" id="no-more-tables">
        <thead class="align-middle table-dark">
            <tr>
                <th>ห้องพัก</th>
                <th>ชื่อผู้รับ</th>
                <th>ขนาดพัสดุ</th>
                <th>วันที่พัสดุถึง</th>
                <th>วันที่ยืนยันรับพัสดุ</th>
                <th>สถานะ</th>
            </tr>
        </thead>
        <tbody>
            <% data2.forEach((item)=>{ %>
                <tr>
                    <td data-title="ห้องพัก"><%=item.room_id%></td>
                    <td data-title="ชื่อผู้รับ"><%=item.receiver_name%></td>
                    <td data-title="ขนาดพัสดุ">
                        <% if (item.size === 'S') { %>
                            ขนาดเล็ก
                        <% } else if (item.size === 'M') { %>
                            ขนาดกลาง
                        <% } else { %>
                            ขนาดใหญ่
                        <% } %>
                    </td>
                    <td data-title="วันที่พัสดุถึง"><%=item.arrival_date%></td>
                    <td data-title="วันที่ยืนยันรับพัสดุ"><%=item.receive_date%></td>
                    <td data-title="สถานะ"><%=item.status === 1 ? 'รับแล้ว' : 'ยังไม่รับ'%></td>
            <% }); %>
        </tbody>
    </table>
</div>